@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    margin: 40;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
      sans-serif;
      justify content:space-between;




     
  }
  .nav{
  margin-top=0; padding-top=0
  width:100%;
padding-top=0
  display:flex;
  align-items:center;
   justify content:space-between;
   position:relative;

  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 background-image: url("../templates/istockphoto-819665724-612x612.jpg");
background-repeat: no-repeat;
background-size: 30000px;




  }
  form{

      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
  }

  .profile-icon-png-910{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
  }


 .nav ul{
 text-align: centre;
 width: 100%;


 }
.nav ul li{
display:inline-block;
list-style: none;

}

.container-fluid{
    background-color: white;
    margin-top=0;
    padding-top=0;

   background-attachment:fixed;
   box-shadow: 0 5px 15px rgba(0,0,0.5);
}


textarea {
    width: 100%;
    padding: 70px;
      border: 1px solid ;
      border-radius: 5px;
      
    }
    