{% extends 'base_no_footer.html' %}

{% block title %}Apply{% endblock title %}

{% block css %}
  <style>
    /* Add custom CSS for form styling */
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mb-3 {
      margin-bottom: 20px;
    }

    .form-label {
      font-weight: bold;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  </style>
{% endblock css %}

{% block body %}
<form method="POST" action={% url 'apply' %}>
  {% csrf_token %}
  <div class="container">
    <h2 class="mb-4">Scholarship Application Form</h2>
    <div class="mb-3">
      <label for="name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name">
    </div>

    <div class="mb-3">
      <label class="form-label" for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" class="form-control">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
    </div>

    <div class="mb-3">
      <label class="form-label" for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" class="form-control" placeholder="+91XXXXXXXXXX">
    </div>

    <div class="mb-3">
      <label for="aadhar" class="form-label">Aadhar Number</label>
      <input type="text" class="form-control" id="aadhar" name="aadhar" placeholder="Your Aadhar Number">
    </div>

    <div class="mb-3">
      <label for="pan" class="form-label">PAN Number</label>
      <input type="text" class="form-control" id="pan" name="pan" placeholder="Your PAN Number">
    </div>

    <div class="mb-3">
      <label for="place_of_study" class="form-label">Current Institute</label>
      <input type="text" class="form-control" id="place_of_study" name="place_of_study" placeholder="Your current institute">
    </div>

    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <input type="text" class="form-control" id="gender" name="gender" placeholder="Male/Female">
    </div>

    <div class="mb-3">
      <label for="scheme_name" class="form-label">Scheme Name</label>
      <input type="text" class="form-control" id="scheme_name" name="scheme_name" placeholder="Scheme you wish to apply for">
    </div>

    <button type="submit" class="btn btn-primary your-submit-button-class">Submit</button>
  </div>
</form>
{% endblock body %}
