{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your CSS styles */
    </style>
</head>

{% block body %}
<form method="POST" action="/help">
    {% csrf_token %}
    <div class="container">
        <h2 class="text-center mb-4"></h2>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="mb-3">
            <label class="form-label" for="phone">Phone number</label>
            <input min="0" max="10" type="tel" id="phone" name="phone" class="form-control"
                placeholder="+91XXXXXXXXXX" />
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Feedback</label>
            <textarea class="form-control" id="desc" name="desc" rows="5" placeholder="Submit your query"></textarea>
        </div>
        <button type="Submit" class="btn btn-primary btn-block">Submit</button>
    </div>
</form>
{% endblock body %}

</html>
