{% extends 'base.html' %}

{% block title %}HOME{% endblock title %}

{% block body %}
<style>
    .card-container{
      display:flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 20px;
    }

    .card-1{
      border:2px solid black;
      margin-right: 10px;
    }
    .card-2{
      border:2px solid black;
      margin-right: 10px;
    }
    .card-3{
      border:2px solid black;
      margin-right: 10px;
    }
    .card-4{
      border:2px solid black;
      margin-right: 10px;
    }

    .card-1 h3{
      text-align:center;
      background-color: rgb(33, 33, 61);
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .card-2 h3{
      text-align:center;
      background-color: rgb(33, 33, 61);
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .card-3 h3{
      text-align:center;
      background-color: rgb(33, 33, 61);
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .card-4 h3{
      text-align:center;
      background-color: rgb(33, 33, 61);
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .heading-new{
      text-align: center;
      background-color: rgb(33, 33, 61);
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 30px;
      width: 800px;
    }

    .news-playground{
      border: 2px solid black;
      height: 300px;
      overflow: hidden;
      width: 800px;
    }

    .mainpage-2{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 70px;
    }

    footer{
      background-color: rgb(33, 33, 61);
      color: white;
      padding: 10px 10px;
    }

    .footer-heading{
      text-align: center;
      font-weight: bold;
    }
</style>

<div class="mainpage">
    <div class="card-container">
      <div class="card-1">
        <h3>About Us</h3>
        <ul>
          <li><a href="#">About ISP</a></li>
          <li><a href="#">Schemes on ISP</a></li>
          <li><a href="#"></a>Operational manual on functionalities of ISP</li>
          <li><a href="#">Standard Operating Procedures</a></li>
        </ul>
      </div>
      <div class="card-2">
        <h3>Applicant Corner</h3>
        <ul>
          <li><a href="#">Check your Eligibility</a></li>
          <li><a href="#">Student FAQ</a></li>
          <li><a href="#"><strong> Search Institute/ School/ ITI registered with ISP </strong></a></li>
          <li><a href="#">Frequently Asked Questions (FAQs)</a></li>
        </ul>
      </div>
      <div class="card-3">
        <h3>Institute Corner</h3>
        <ul>
          <li><a href="#">Check your Eligibility</a></li>
          <li><a href="#">Student FAQ</a></li>
          <li><a href="#"><strong> Search Institute/ School/ ITI registered with ISP </strong></a></li>
          <li><a href="#">Frequently Asked Questions (FAQs)</a></li>
        </ul>
      </div>
      <div class="card-4">
        <h3>Private Corner</h3>
        <ul>
          <li><a href="#">Check your Eligibility</a></li>
          <li><a href="#">Student FAQ</a></li>
          <li><a href="#"><strong> Search Institute/ School/ ITI registered with ISP </strong></a></li>
          <li><a href="#">Frequently Asked Questions (FAQs)</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mainpage-2">
    <div class="heading-new">
      <h3>Latest News</h3>
    </div>
    <div class="news-playground">
      <marquee direction="up" height="300px">
        <ul>
          <li><a href="#">National Scholarship Portal is open for application submission for AY 2023-24: Please attach the document listed below:- 
            <ul>
              <li>Student id</li>
              <li>Student aadhar card</li>
            </ul>
          </a></li>
          <li><a href="#">National Scholarship Portal is open for application submission for AY 2023-24:</a></li>
          <li><a href="#">National Scholarship Portal is open for application submission for AY 2023-24:</a></li>
          <li><a href="#">National Scholarship Portal is open for application submission for AY 2023-24:</a></li>
        </ul>
      </marquee>
    </div>
  </div>

{% endblock body %}
